@font-face {
    font-family: 'SCDream7';
    src: url('../fonts/SCDream7.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Bold';
    src: url('../fonts/paybooc Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}


body {
    background: #f9f8f7;
    overflow: hidden;
}

.wrapper {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 20px 25px 25px 0;
    /*background: #f9f8f7;*/
    height: 100%;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.contents {
    text-align: center;
    padding: 30px;
}

.date-wrap {
    width: 79%;
    position: relative;
    display: inline-block;
}

.date-wrap.main {
    margin-bottom: 0;
    position: relative;
}

.loading-wrap {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.loading-wrap.active {
    display: flex;
}

.loading-wrap .calendar-loading {
    width: 64px;
    height: 64px;
    background: #f1f1f1;
    border-radius: 100px;
    overflow: hidden;
}

.loading-wrap .calendar-loading img {
    width: 100%;
    animation-name: loading;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-wrap .loading-desc {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-top: 12px;
}

.select-date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.select-date h2 {
    font-family: 'SCDream7';
    font-size: 35px;
    font-weight: 500;
    margin: 0 5px;
    position: absolute;
    left: 0;
}

.select-date img {
    width: 20px;
}

.select-date span.pre, span.next, span.current-month {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background: #fff;
}

.select-date .back {
    left: 0;
    position: absolute;
}

.calendar {
    width: 100%;
    height: 85vh;
    border-spacing: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #f2f0f4;
    overflow: hidden;
}

.calendar tr {
    height: 0;
    /*transition: .6s all;*/
}

.calendar tr.active {
    height: 450px;
}

.calendar tr.active span.hide {
    display: flex !important;
}

.calendar tr.active span.more {
    display: none !important;
}

.calendar tr.active span.show-title {
    color: #ffffff !important;
    font-weight: 700;
}

.calendar tr.passive {
    opacity: 0;
}

.calendar tr.passive td {
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: none !important;
}

.calendar tr.passive td div {
    min-height: inherit;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.calendar tr.passive span {
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;

}


.calendar tr:first-of-type {
    border-bottom: solid 1px #f1f1f1;
    background: #ffffff;
}

.calendar tr:first-of-type th {
    /*border-top: solid 1px #555;*/
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

.calendar tr:last-of-type th {
    border-right: none;
}

.calendar tr th {
    padding: 10px 0;
    font-size: 14px;
    color: #555;
    font-weight: 500;
    text-align: center;
}

.calendar tr td {
    background-color: #fff;
    text-align: right;
    vertical-align: middle;
    position: relative;
    font-size: 12px;
    color: #4f4f4f;
    font-weight: 500;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    width: 14.285%;
    height: 120px;
    /*transition: 1s all;*/
}

.calendar tr th,
.calendar tr td a {
    color: #111111;
    cursor: default;
}

.calendar tr th:first-of-type,
.calendar tr td:first-of-type a {
    color: #ff7272;
}

.calendar tr th:last-of-type {
    border-right: none;
}

.calendar tr td:last-of-type {
    border-right: none;
}

.calendar tr:last-of-type td:last-of-type {
    border-right: 1px solid #ddd;
}

.calendar tr td div {
    width: 100%;
    min-height: 80px;
}

.calendar tr td span.calendar-date {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.calendar tr td div span {
    width: 100%;
    height: 15px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*margin-top: 7px;*/
    font-size: 12px;
    float: right;
    padding: 5px;
    cursor: default;
}

.calendar .empty {
    background: #f2f0f4;
}

.calendar .empty:hover {
    background: #e9e9e9;
}

.calendar tr td:hover {
    background: #cfe8df;
}

.calendar tr td.today {
    background: #cfe8e8;
}

.calendar.main tr td p {
    font-size: 10px;
    margin-top: 5px;
    font-weight: 500;
}


.calendar.main tr td div span {
    color: #111111;
}

.calendar.main tr td div span.start {
    /*color: #fff;*/
    font-weight: 700;
    border-radius: 100px 0 0 100px;
    width: 100%;
    height: 8px;
    background: rgba(0, 183, 74, 1);
    position: relative;
    float: left;
}

.calendar.main tr td div span.one-day {
    border-radius: 100px;
    padding: 5px 0;
}

.calendar.main tr td div span.end {
    border-radius: 0 100px 100px 0;
    width: 100%;
    height: 8px;
    background: rgba(0, 183, 74, 1);
    position: relative;
    color: transparent;
}

.calendar.main tr td div span.ing {
    border-radius: 0;
    width: 100%;
    height: 8px;
    background: rgba(0, 183, 74, 1);
    position: relative;
}

.calendar.main tr td div span.empty {
    border-radius: 0;
    width: 100%;
    height: 8px;
    background: rgba(0, 0, 0, 0);
    position: relative;
}

.calendar.main tr td div span.more {
    position: relative;
    padding: 0;
    margin: 0;
    height: 5px;
}

.calendar.main tr td div span.hide {
    display: none;
}


.calendar.main tr td div span.event0 {
    background: #cfdd8e;
}

.calendar.main tr td div span.event1 {
    background: #eeb8b8;
}

.calendar.main tr td div span.event2 {
    background: #6eceda;
}

.calendar.main tr td div span.event3 {
    background: #b57fb3;
}

.calendar.main tr td div span.event4 {
    background: #f5ddad;
}


.calendar.main tr td div span.event1:hover ~ .event1 {
    opacity: .8;
}

.create-event-btn {
    cursor: pointer;
    width: auto;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 5%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    background: #666666;
    color: #ffffff;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
}

.create-event-btn:hover {
    opacity: .8;
}

.event-tooltip {

    display: none;
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    padding: 15px 15px;
    color: #ffffff;
    background: #333333;
    border-radius: 10px;
    font-size: 16px;
    z-index: 100;
}

.event-tooltip span {
    display: block;
    font-size: 12px;
}

.event-tooltip .event-user {
    display: inline-block;
    position: absolute;
    padding: 10px 10px;

}

.event-tooltip:after {
    border-top: 15px solid #333333;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
}

.event-tooltip.active {
    display: block;
}

.event-tooltip.passive {
    display: none;
}

.event-tooltip img {
    width: 30px;
    border: 3px solid #e9e9e9;
    border-radius: 30px;
    background: #e9e9e9;
}

/* ************ 타임테이블 *********** */

.time-table-wrap {
    width: 79%;
    border-radius: 5px;
}

.time-table-wrap .select-date .date-label {
    position: absolute;
    font-family: 'SCDream7';
    font-size: 30px;
    font-weight: 500;
    margin: 0 5px;
    position: absolute;
    left: 0;
    display: inline-block;
}

.time-table-wrap .select-date .date-label .date-main {
    display: inline-block;
}

.time-table-wrap .select-date .date-label h2 {
    display: inline;
    position: relative;
}

.time-table-wrap .select-date .date-label .date-sub {
    display: inline-block;
}

.time-table-wrap .select-date .date-label h4 {
    display: block;
    position: relative;
    font-size: 13px;
    margin: 0 5px;
    padding: 0 10px;
    border-left: 1px solid #ddd;
}

.time-table {
    font-family: 'SCDream7';
    font-size: 15px;
    font-weight: 500;
    background: #fff;
    width: 100%;
    /*height: 70vh;*/
    border-spacing: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}

.time-table tr:nth-child(even) {
    /*background: #e9e9e9;*/
}

.time-table tr:first-of-type:hover {
    box-shadow: none;
}

.time-table tr:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.time-table tr th {
    height: 40px;
    padding: 0;
    font-size: 14px;
    color: #555;
    font-weight: 500;
    text-align: center;
    /*border-right: solid 1px #e9e9e9;*/
    border-bottom: solid 1px #e9e9e9;
}

.time-table tr:first-of-type th:first-of-type {
    width: 14.285%;
}

.time-table tr td:first-of-type {
    width: 14.285%;
}

.time-table tr td {
    color: #666;
    transition: .7s all;
    height: 80px;
    text-align: center;
    /*border-right: solid 1px #e9e9e9;*/
    border-bottom: solid 1px #e9e9e9;
}


.time-table tr.active td {
    color: #111;
    height: 200px;
}



/* ************ 사이드바 *********** */

.side-bar {
    position: relative;
    display: inline-flex;
    width: 18%;
    height: 100vh;
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin: -25px 20px 0 0;
}

.side-bar .side-bar-list {
    list-style-type: none;

}

.side-bar .side-bar-list .list-menu {
    padding: 10px;
}

.side-bar .side-bar-list .list-menu a {
    font-family: 'SCDream7';
    font-size: 17px;
    font-weight: 500;
    color: #666666;
    text-decoration: none;
}

.side-bar .side-bar-list .list-menu a:hover {
    color: #999999;
}