.event-wrap {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    margin-top: 48px;
}

.event-wrap .event-list {
    display: inline;
}

.event-wrap .event-list div {
    width: 200px;
    max-height: 205px;
    padding: 20px 20px 25px 25px;
    margin-bottom: 20px;
    font-family: 'SCDream7';
    font-size: 13px;
    text-align: left;
    background: #ffffff;
    border-spacing: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    overflow-y: auto;
}

.event-wrap .event-list div span.event-list-title {
    font-size: 15px;
}

.event-wrap .event-list div span.event-list-empty {
    color: #999999;
    display: block;
    text-align: center;
}

.event-wrap .event-list div ul {
    list-style-type: none;
    max-height: 180px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.event-wrap .event-list div ul::-webkit-scrollbar {
    width: 8px;
}

.event-wrap .event-list div ul::-webkit-scrollbar-thumb {
    background-color: #c6c6c6;
    border-radius: 10px;
}

.event-wrap .event-list div ul::-webkit-scrollbar-track {
    background-color: #e9e9e9;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.event-wrap .event-list div ul li {
    margin-top: 10px;
    vertical-align: middle;
}

.event-wrap .event-list div ul li .event-list-circle {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    padding: 0;
    display: inline-block;
    border-radius: 50px;
    background: #ff7272;
}

.event-wrap .event-list div ul li.event0 .event-list-circle {
    background: #cfdd8e;
}

.event-wrap .event-list div ul li.event1 .event-list-circle {
    background: #eeb8b8;
}

.event-wrap .event-list div ul li.event2 .event-list-circle {
    background: #6eceda;
}

.event-wrap .event-list div ul li.event3 .event-list-circle {
    background: #b57fb3;
}

.event-wrap .event-list div ul li.event4 .event-list-circle {
    background: #f5ddad;
}

.date-wrap {
    position: relative;
    display: inline-block;
    margin-left: 35px;
}

.date-wrap.main {
    margin-bottom: 0;
    position: relative;
}

.select-date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.select-date h2 {
    font-family: 'SCDream7';
    font-size: 30px;
    font-weight: 500;
    margin: 0 5px;
    position: absolute;
    left: 0;
}

.select-date img {
    width: 20px;
}

.select-date span.pre, span.next, span.current-month {
    font-family: 'SCDream7';
    font-size: 15px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background: #fff;
}

.select-date span.pre:hover, span.next:hover, span.current-month:hover {
    background: rgba(0, 0, 0, 0.02);
}

.select-date span.pre {
    border-radius: 5px 0 0 5px;
}

.select-date span.next {
    border-radius: 0 5px 5px 0;
}

.select-date .back {
    left: 0;
    position: absolute;
}

.calendar {
    width: 600px;
    height: 80vh;
    border-spacing: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    background-color: #f2f0f4;
    overflow: hidden;
}

.calendar tr {
    height: 0;
    /*transition: .6s all;*/
}

.calendar tr.active {
    height: 450px;
}

.calendar tr.active span {
    height: 30px !important;
    font-size: 15px;
}

.calendar tr.active span.hide {
    display: flex !important;
}

.calendar tr.active span.more {
    display: none !important;
}


.calendar tr.active div.event-list {
    position: absolute;
    top: 50px;
}

.calendar tr.passive {
    opacity: 0;
}

.calendar tr.passive td {
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: none !important;
}

.calendar tr.passive td div {
    min-height: inherit;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.calendar tr.passive span {
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;

}


.calendar tr:first-of-type {
    border-bottom: solid 1px #f1f1f1;
    background: #ffffff;
}

.calendar tr:first-of-type th {
    /*border-top: solid 1px #555;*/
    border-right: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
}

.calendar tr:last-of-type th {
    border-right: none;
}

.calendar tr th {
    padding: 10px 0;
    font-size: 14px;
    color: #555;
    font-weight: 500;
    text-align: center;
}

.calendar tr td {
    background-color: #fff;
    text-align: right;
    vertical-align: middle;
    position: relative;
    font-size: 12px;
    color: #4f4f4f;
    font-weight: 500;
    border-right: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
    width: 14.285%;
    height: 120px;
    /*transition: 1s all;*/
}

.calendar tr th,
.calendar tr td a {
    color: #111111;
    cursor: default;
}

.calendar tr th:first-of-type,
.calendar tr td:first-of-type {
    color: #ff7272;
}

.calendar tr th:last-of-type,
.calendar tr td:last-of-type {
    color: #698bb8;
}

.calendar tr td.empty:first-of-type {
    color: rgba(255, 0, 0, 0.3);
}

.calendar tr td.empty:last-of-type {
    color: rgba(0, 0, 255, 0.3);
}


.calendar tr th:last-of-type {
    border-right: none;
}

.calendar tr td:last-of-type {
    border-right: none;
}

.calendar tr:last-of-type td:last-of-type {
    border-right: 1px solid #ddd;
}

.calendar tr td div {
    width: 100%;
    min-height: 80px;
}

.calendar tr td span.calendar-date {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.calendar tr td div span {
    width: 100%;
    height: 15px;
    font-family: 'SCDream7';
    font-size: 13px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*margin-top: 7px;*/
    font-size: 12px;
    float: right;
    padding: 5px;
    cursor: default;
}

.calendar .empty {
    background: #f2f0f4;
}

.calendar .empty {
    color: rgba(0, 0, 0, 0.3);
}

.calendar .empty:hover {
    background: #e9e9e9;
}

.calendar tr td:hover {
    background: #cfe8df;
}

.calendar tr td.today {
    background: #cfe8e8;
}

.calendar.main tr td p {
    font-size: 10px;
    margin-top: 5px;
    font-weight: 500;
}


.calendar.main tr td div span {
    color: #111111;
}

.calendar.main tr td div span.start {
    /*color: #fff;*/
    font-weight: 700;
    border-radius: 100px 0 0 100px;
    width: 100%;
    height: 8px;
    background: rgba(0, 183, 74, 1);
    position: relative;
    float: left;
}

.calendar.main tr td div span.one-day {
    border-radius: 100px;
    padding: 5px 0;
}

.calendar.main tr td div span.end {
    border-radius: 0 100px 100px 0;
    width: 100%;
    height: 8px;
    background: rgba(0, 183, 74, 1);
    position: relative;
    color: transparent;
}

.calendar.main tr td div span.ing {
    border-radius: 0;
    width: 100%;
    height: 8px;
    background: rgba(0, 183, 74, 1);
    position: relative;
}

.calendar.main tr td div span.empty {
    border-radius: 0;
    width: 100%;
    height: 8px;
    background: rgba(0, 0, 0, 0);
    position: relative;
}

.calendar.main tr td div span.more {
    position: relative;
    padding: 0;
    margin: 0;
    height: 5px;
}

.calendar.main tr td div span.hide {
    display: none;
}


.calendar.main tr td div span.event0 {
    background: #cfdd8e;
}

.calendar.main tr td div span.event1 {
    background: #eeb8b8;
}

.calendar.main tr td div span.event2 {
    background: #6eceda;
}

.calendar.main tr td div span.event3 {
    background: #b57fb3;
}

.calendar.main tr td div span.event4 {
    background: #f5ddad;
}


.calendar.main tr td div span.event1:hover ~ .event1 {
    opacity: .8;
}

.create-event-btn {
    cursor: pointer;
    width: auto;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'SCDream7';
    font-size: 15px;
    text-align: center;
    background: #ff7272;
    color: #ffffff;
    margin: 0;
    padding: 8px 12px 8px 12px;
    border-radius: 10px;
}

.create-event-btn:hover {
    opacity: .8;
}

.event-tooltip {
    display: none;
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    padding: 15px 15px;
    color: #ffffff;
    background: #333333;
    border-radius: 10px;
    font-size: 16px;
    z-index: 100;
    transition: 1s all;
}

.event-tooltip span {
    display: block;
    font-size: 12px;
}

.event-tooltip .event-user {
    display: inline-block;
    position: absolute;
    padding: 10px 10px;

}

.event-tooltip:after {
    border-top: 15px solid #333333;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
}

.event-tooltip.active {
    display: block;
}

.event-tooltip.passive {
    display: none;
}

.event-tooltip img {
    width: 30px;
    border: 3px solid #e9e9e9;
    border-radius: 30px;
    background: #e9e9e9;
}

.select-date .date-label {
    position: absolute;
    font-family: 'SCDream7';
    font-size: 30px;
    font-weight: 500;
    margin: 0 5px;
    position: absolute;
    left: 0;
    display: inline-block;
}

.select-date .date-label .date-main {
    display: inline-block;
}

.select-date .date-label h2 {
    display: inline;
    position: relative;
}

.select-date .date-label .date-sub {
    display: inline-block;
}

.select-date .date-label .date-sub.year h4 {
    font-size: 20px;
}

.select-date .date-label h4 {
    display: block;
    position: relative;
    font-size: 12px;
    margin: 0 5px;
    padding: 0 10px;
    border-left: 1px solid #ddd;
    text-align: left;
}

/* ************ 타임테이블 *********** */

/*.time-table-wrap {*/
/*    width: 100%;*/
/*    border-radius: 5px;*/
/*}*/

.time-table {
    font-family: 'SCDream7';
    font-size: 13px;
    font-weight: 500;
    background: #fff;
    width: 900px;
    /*width: 100%;*/
    /*height: 70vh;*/
    border-spacing: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}

.time-table tbody{
    vertical-align: inherit;
}

.time-table tr {
    transition: .1s all;
}

.time-table tr:nth-child(even) {
    /*background: #e9e9e9;*/
}

/*.time-table tr:nth-child(2) {*/
/*    background: #e9e9e9;*/
/*}*/
.time-table tr:first-of-type:hover {
    box-shadow: none;
    background: none;
}

.time-table tr:hover {
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);*/
    border-radius: 5px;
    background: rgba(0, 0, 0, .05);
}

.time-table tr.active {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.time-table tr.active:hover {
    background: #ffffff;
}

.time-table tr.active td {
    /*padding-bottom: 70px;*/
    padding: 30px 0 100px 0;
    color: #111;
    /* height: 200px; */
}


.time-table tr.active td:first-of-type {
    padding: 20px 0 100px 0;;
}

.time-table tr th {
    /* height: 40px; */
    padding: 15px 0;
    font-size: 13px;
    color: #555;
    font-weight: 500;
    text-align: center;
    /*border-right: solid 1px #e9e9e9;*/
    border-bottom: solid 1px #e9e9e9;
}

.time-table tr:first-of-type th:first-of-type {
    width: 14.285%;
}

.time-table tr td:first-of-type {
    width: 18%;
}

.time-table tr td {
    color: #666;
    transition: .2s all;
    /* height: 60px;*/
    padding: 30px 0;
    text-align: center;
    /*border-right: solid 1px #e9e9e9;*/
    border-bottom: solid 1px #e9e9e9;
    overflow: hidden;
}

.time-table tr td span.today {
    font-size: 13px;
    font-weight: 500;
    color: #698bb8;
    position: absolute;
    margin-left: 5px;
    border-radius: 5px;
    background: #f0f3f7;
    padding: 3px;
}

.time-table tr td .work-time-list {
    padding: 0 50px 0 10px;
    float: left;
    margin-left: 100px;
    color: #111;
    border-radius: 5px;
}
.time-table tr.active td .work-time-list {
    padding: 10px 50px 10px 10px;
}

.time-table tr.active td .work-time-list:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.time-table tr td .work-time-list .work-time-title {
    padding: 3px;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 15px;
}


.time-table tr td .work-time-list .working {
    color: #f75f2a;
    background: #fef0ec;
}

.time-table tr td .work-time-list .weekend {
    color: #72717b;
    background: #f0f0f1;
}

.time-table tr td .work-time-list .work-time-progress {
    display: none;
    width: 67%;
    height: 20px;
    position: absolute;
    left: 260px;
    background: rgba(0, 0, 0, 0.05);
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.time-table tr.active td .work-time-list .work-time-progress {
    display: block;
}

.time-table tr.active td .work-time-list .work-time-progress .progress-grid{
    width: 9.836%;
    height: 20px;
    float: left;
    font-size: 10px;
    text-align: left;
    color:#999;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.time-table tr.active td .work-time-list .work-time-progress .progress-grid.last{
    border-right: none;    
}

.time-table tr td .work-time-list .work-time-progress .progress {
    width: 0;
    height: 20px;
    position: absolute;
    display: grid;
    background: red;
    left: 20%;
    opacity: .5;
    transition: .5s all;
}

.time-table tr td .work-time-list .work-time-progress .progress:hover {
    opacity: 1;
    background-color:#ff7272;
}

.time-table tr td .work-time-list .work-time-progress.active .progress {
}

/* ************ 사이드바 *********** */

.side-bar {
    position: relative;
    display: inline-flex;
    width: 18%;
    height: 100vh;
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin: -25px 20px 0 0;
}

.side-bar .side-bar-list {
    list-style-type: none;

}

.side-bar .side-bar-list .list-menu {
    padding: 10px;
}

.side-bar .side-bar-list .list-menu a {
    font-family: 'SCDream7';
    font-size: 17px;
    font-weight: 500;
    color: #666666;
    text-decoration: none;
}

.side-bar .side-bar-list .list-menu a:hover {
    color: #999999;
}

/* ************ 헤더 *********** */

.header {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 70px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.header .header-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header .header-list .list-menu {
    cursor: pointer;
    padding: 10px;
    display: inline;
    font-family: 'SCDream7';
    font-size: 13px;
    font-weight: 500;
    color: #666666;
    text-align: center;
    display: inline-grid;
    opacity: .7;
}

.header .header-list .list-menu img {
    width: 24px;
    padding: 5px 20px;
}

.header .header-list .list-menu span {
}

.header .header-list .list-menu.active {
    opacity: 1;
}

.header .header-list .list-menu.active:hover {
    opacity: 1;
}

.header .header-list .list-menu.active:hover img {
    background: none;
}

.header .header-list .list-menu.active:hover span {
    background: none;
}

.header .header-list .list-menu:hover img {
    border-radius: 5px 5px 0 0;
    background: rgba(0, 0, 0, 0.05);
}

.header .header-list .list-menu:hover span {
    border-radius: 0 0 5px 5px;
    background: rgba(0, 0, 0, 0.05);
}


.header .header-list .list-menu:hover {
    opacity: .8;
}